Options +FollowSymLinks

RewriteEngine on

RewriteBase /

RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteRule uploads/(.*)/w/(.*)/(.*)		function/timthumb.php?src=http://%{HTTP_HOST}/uploads/$1/$3&w=$2&a=t	[L,NS]
RewriteRule uploads/(.*)/h/(.*)/(.*)		function/timthumb.php?src=http://%{HTTP_HOST}/uploads/$1/$3&h=$2&a=t	[L,NS]
RewriteRule uploads/(.*)/(.*)/(.*)/(.*)		function/timthumb.php?src=http://%{HTTP_HOST}/uploads/$1/$4&w=$2&h=$3&a=t	[L,NS]

RewriteRule media/(.*)/w/(.*)/(.*)		function/timthumb.php?src=http://%{HTTP_HOST}/uploads/$1/tm/$3&w=$2&a=t	[L,NS]
RewriteRule media/(.*)/h/(.*)/(.*)		function/timthumb.php?src=http://%{HTTP_HOST}/uploads/$1/tm/$3&h=$2&a=t	[L,NS]
RewriteRule media/(.*)/(.*)/(.*)/(.*)		function/timthumb.php?src=http://%{HTTP_HOST}/uploads/$1/tm/$4&w=$2&h=$3&a=t	[L,NS]

RewriteRule uploads-fixndeal/(.*)/(.*)/(.*)/wm/(.*)/(.*)	function/watermark.class.php?image=http://%{HTTP_HOST}/uploads/$1/$2/$3/$5&watermark=http://%{HTTP_HOST}/uploads/media/w/$4/watermark.png	[L,NS]

RewriteRule uploads-fixndeal/(.*)/(.*)/(.*)/(.*)	function/watermark.class.php?image=http://%{HTTP_HOST}/uploads/$1/$2/$3/$4&watermark=http://%{HTTP_HOST}/uploads/media/watermark.png	[L,NS]

RewriteRule info/(.*).html pages.php?page_id=$1	[L,NS]

RewriteRule register.html register.php	[L,NS]

RewriteRule accountstatement.html accountstatement.php	[L,NS]

RewriteRule refernearn.html refernearn.php	[L,NS]

RewriteRule memberships.html memberships.php	[L,NS]

RewriteRule profile/(.*).html userprofile.php?username=$1	[L,NS]


RewriteRule signUp.html signUp.php	[L,NS]

RewriteRule review.html review.php	[L,NS]

RewriteRule (.*)/category.html subcat.php?name=$1	[L,NS]

RewriteRule login.html login.php	[L,NS]

RewriteRule changepassword.html changepassword.php	[L,NS]
RewriteRule dashboard.html dashboard.php	[L,NS]
RewriteRule postings.html postings.php	[L,NS]
RewriteRule pendingapproval.html pendingapproval.php	[L,NS]
RewriteRule searchHistory.html searchHistory.php	[L,NS]
RewriteRule postad.html make_a_deal.php	[L,NS]
RewriteRule success.html posting-success.php	[L,NS]
RewriteRule error.html error.php	[L,NS]
RewriteRule lostYourPassword.html lostYourPassword.php	[L,NS]
RewriteRule product/(.*).html		view_page.php?product_id=$1		[L,NS]
RewriteRule search.html search.php	[L,NS]
RewriteRule view_page.html view_page.php	[L,NS]

RewriteRule favorites.html favorites.php	[L,NS]

RewriteRule offers.html offers.php	[L,NS]

# PREVENT ACCESS TO CONFIG

#RewriteCond %{HTTP_HOST} ^fixndeal\.co\.in$ [OR]
#RewriteCond %{HTTP_HOST} ^www\.fixndeal\.co\.in$
#RewriteRule ^/?$ "http\:\/\/fixndeal\.com" [R=301,L]

#RewriteCond %{HTTP_HOST} ^fixndeal\.in$ [OR]
#RewriteCond %{HTTP_HOST} ^www\.fixndeal\.in$
#RewriteRule ^/?$ "http\:\/\/fixndeal\.com" [R=301,L]

ErrorDocument  400  /error.php?error=400
ErrorDocument  401  /error.php?error=401
ErrorDocument  403  /error.php?error=403
ErrorDocument  404  /error.php?error=404
ErrorDocument  500  /error.php?error=500
ErrorDocument  502  /error.php?error=502 
ErrorDocument  504  /error.php?error=504

<IfModule mod_expires.c>
    ExpiresActive on
 
    ExpiresByType image/jpg "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
</IfModule>

<ifModule mod_headers.c>
# Turn on Expires and set default expires to 3 days
ExpiresActive On
ExpiresDefault A259200
 
# Set up caching on media files for 1 month
<filesMatch ".(ico|gif|jpg|jpeg|png|flv|pdf|swf|mov|mp3|wmv|ppt)$">
ExpiresDefault A2419200
Header append Cache-Control "public"
</filesMatch>
 
# Set up 2 Hour caching on commonly updated files
<filesMatch ".(xml|txt|html|js|css)$">
ExpiresDefault A7200
Header append Cache-Control "private, must-revalidate"
</filesMatch>
 
# Force no caching for dynamic files
<filesMatch ".(php|cgi|pl|htm)$">
ExpiresDefault A0
Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
Header set Pragma "no-cache"
</filesMatch>
</ifModule>
# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript